.bungee {
    font-family: 'Bungee', 'Courier New', Courier, monospace;
    text-align: center;
}

.ingredientsContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.textAlignCenter,
ul {
    text-align: center;
}

hr {
    width: 100vw;
}

.imgIngredients {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 15px;
}