.font {
    font-family: 'Bungee', cursive;
}

.fontBungee {
    font-family: 'Bungee', cursive;

}

.articleProductDetail img {
    border: none;
    width: 300px;
    height: 300px;
}

.articleProductDetail {
    background-color: #fff;
}