.font {
    font-family: 'Bungee', cursive;
}

.fontBungee {
    font-family: 'Bungee', cursive;
    text-align: center;

}

.articleProductDetail img {
    border: none;
    width: 300px;
    height: 300px;
}

.articleProductDetail {
    background-color: var( --color-white);
}