.elementsContainer,
.displayFlex {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.elementsContainer {
    flex-wrap: wrap;
    gap: 80px;
}

.img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.displayFlex {
    gap: 30px;
    margin: 25px 25px;
    flex-wrap: wrap;
}

@media (max-width: 768px) {
    .elementsContainer {
        gap: 40px;
    }

    .img {
        width: 100%; 
        height: auto;
    }
}
