.elementsContainer,
.displayFlex 
 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
}
.img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.elementsContainer {
    flex-wrap: wrap;
}

h3 {
    text-align: center;
}

