/* Base styles */
.textAlignCenter {
    text-align: center;
    font-size: 24px;
    margin-top: 15px;
}

.paymentSuccessImg {
    width: 90%;
    max-width: 650px;
}

.cards {
    text-align: center;
    margin-top: 25px;
    border: 2px solid grey;
    width: 50%;
    margin-bottom: 25px;
}

.total {
    background-color: var(--color-yellow);
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.byeBye {
    margin-top: 25px;
    font-size: 24px;
    font-weight: bold;
}

.restartButton {
    display: inline-block;
    background-color: var(--color-red);
    color: var( --color-white);
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.restartButton:hover {
    opacity: 50%;
}


/* Media Query for Small Screens */
@media (max-width: 768px) {
    .textAlignCenter {
        font-size: 20px;
        margin-top: 10px;
    }

    .restartButton {
        font-size: 14px;
        padding: 8px 16px;
    }

    .cards {
        width: 80%;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .byeBye {
        font-size: 20px;
        margin-top: 15px;
    }
}