/* Base styles */
.contentWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.imageClose {
    width: 25px;
}

.fontSize {
    font-size: 2vw;
}


.textAlignCenter {
    text-align: center;
    font-size: 16px;
    margin-bottom: 25px;
}

@media (max-width: 768px) {
    .imageClose {
        width: 20px;
    }

    .textAlignCenter {
        font-size: 20px;
        margin-bottom: 15px;
    }
}