.contentWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.imageClose {
    width: 25px;
}

.textAlignCenter {
    text-align : center;
    font-size: 24px;
    margin-bottom: 25px;
}