.wrapper {
    background-color: #f8c03d;
}

.displayFlex {
    display: flex;
    justify-content: space-evenly;
}

.textContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.decorationH3 {
    font-family: 'Bungee', sans-serif;
    color: #e31c24;
    font-size: 40px;
}

.decorationDescription {
    font-family: 'Poppins', sans-serif;
    font-size: 28px;

}

.img {
    max-width: 100%;
    width: 450px;
    height: auto;
}