.wrapper {
    background-color: var(--color-yellow);
    padding: 20px;
}

.displayFlex {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: left;
}

.textContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 50%;
}

.decorationH3 {
    font-family: 'Bungee', sans-serif;
    color: var(--color-red);
    font-size: 2vw;
    line-height: 1.2;
}

.decorationDescription {
    font-family: 'Poppins', sans-serif;
    font-size: 2vw;
    margin-bottom: 20px;
    text-align: left;
}

.img {
    max-width: 100%;
    width: 450px;
    height: auto;
}

@media (max-width: 1120px) {
    .decorationH3 {
        font-size: 3vw;
    }

    .img {
        max-width: 100%;
        width: 112px;
    }

    .displayFlex {
        flex-wrap: wrap;
    }

    .wrapper {
        padding: 0
    }
}