.buttonGroup{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 2vh;
}
.button{
    background-color: var(--color-white);
    padding: 12px 12px 12px 24px;
    border-radius: 15px;
    margin: 9px 0 0;
}
.personal{
    margin-bottom: 17px;
}