.menuImg {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #FFF8EB;
}
.stars {
    display: flex;
}

.stars{
    display: flex;
}
