.wrapper {
    position: relative;
    margin-bottom: 25px;
}

.image {
    width: 100%;
    height: auto; 
    object-fit: cover;
}

.image-caption-h3 {
    position: absolute;
    font-family: 'Bungee';
    font-size: 6vw; 
    line-height: 1.5;
    top: 30%;
    left: 15%;
    transform: translateX(-50%);
    padding: 5px 10px;
    border-radius: 5px;
    color: var(--color-yellow);
}

.image-caption-paragraphe {
    position: absolute;
    font-weight: bold;
    font-family: 'Bungee';
    font-size: 3vw; 
    top: 30%;
    right: 10%; 
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #FFEFD2;
    color: #E31C24;
    border-radius: 25px;
}

.mainProductH3 {
    font-family: 'Bungee';
}

.image-caption-button {
    font-size: 2vw; 
    position: absolute;
    font-weight: bold;
    font-family: 'Bungee';
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #FFEFD2;
    color: #E31C24;
    padding: 1.5vw 2.5vw; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border-radius: 25px;
}

@media (max-width: 768px) {
    .image-caption-h3 {
        font-size: 5vw;
    }

    .image-caption-paragraphe {
        font-size: 3vw;
        right: 5%;
    }

    .image-caption-button {
        font-size: 3vw;
        padding: 1vw 2vw;
    }
}
