/* Base styles */
.imageClose {
    width: 25px;
}

.contentWrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.textAlignCenter {
    text-align: center;
    font-size: 24px;
    margin-bottom: 25px;
}

@media (max-width: 768px) {
    .imageClose {
        width: 20px; 
    }

    .textAlignCenter {
        font-size: 20px; 
        margin-bottom: 15px; 
    }
}
