
.container button {
   background-color :  #E31C24;
   color: white;
   border: none;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    border: 2px solid green;
}

h2 {
    font-family: 'Bungee', cursive;
    text-align: center;
}

