.img {
    width: 250px;
}

.container {
    border: 2px solid red;
   
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border: 2px solid green;
}

h2 {
    font-family: 'Bungee', cursive;
    text-align: center;
}

img {
    width: 250px;
}